{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
    <h2>Si vous souhaitez rejoindre la communauté de La French Tech Alsace, merci de remplir ce formulaire :</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
            <p>* = Champs obligatoires</p>
            <br>
        <input type="submit" value="Create" />
    {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

