{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4">
                <h3>Modifications bien prise en compte</h3>
            </div>
            <div class="col-lg-offset-5">
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('admin') }}" class="btn btn-primary">Retourner à l'administration.</a>
                {% elseif is_granted("ROLE_USER") %}
                    <a href="{{ path('compte') }}" class="btn btn-primary">Retourner à mon profil.</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}