{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path('participant_extraction') }}">
        <div class="container">
            <div class="row select text-center">
                <label for="type">Domaine :</label>
                <select class="" id="type" name="categorie">
                    <option value="all">Tous</option>
                    <option value="HealthTech">HealthTech</option>
                    <option value="IoT Manufacturing">IoT Manufacturing</option>
                    <option value="AI">AI</option>
                    <option value="VR/VA">VR/VA</option>
                    <option value="Blockchain">Blockchain</option>
                    <option value="FoodTech">FoodTech</option>
                    <option value="Mobility">Mobility</option>
                    <option value="IT/ Software / App">IT/ Software / App</option>
                    <option value="Smartcity">Smartcity</option>
                    <option value="Sustainability">Sustainability</option>
                </select>
            </div>
            <div class="row">
                <button class="btn btn-success center-block" type="submit">Extraire les données de ce domaine en CSV</button>
            </div>
        </div>
    </form>

{% endblock %}