{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1>Bienvenue sur l'outil "Communautés startup"</h1>
        <p>Cet outil permet aux startups d'Alsace de se montrer au grand jour. Si vous avez une Startup, vous pouvez l'ajouter en vous inscrivant <a href="#">ici</a> </p>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
