{% extends 'base.html.twig' %}

{% block body %}

    <center><img class="imgTete" src="{{ asset ('build/images/French-tech-horizontal1.jpg') }}"></center>

    <div class="container section1">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 titre1">
                    <h1>Bienvenue sur l'outil "Communautés startup"</h1>
                </div>
            </div>

            <div class="row paragraphe">
                <div class="col-lg-10 col-lg-offset-1 contourText">
                    <p class="text">
                        Grâce au formulaire proposé par le site de la French Tech, les startups Alsaciennes pourront<br> s'enregistrer en renseignant certaines informations, elles pourront être géré dans leur espace personnelle.
                        L'ajout de photo et vidéo sera à remplir dans l'espace du compte.<br>
                        <br>
                        Elles seront visibles dans la page présentation et seront triées grace à un filtre.

                         <a href="{{ path('communautes_new') }}">Inscription</a>
                    </p>
                </div>
            </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
