{% extends 'base.html.twig' %}

{% block body %}
    <center><img class="imgTete" style="width: 200px; height: 200px;" src="{{ asset ('uploads/img/FTA.png') }}"></center>
    <div class="container section1">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 titre1">
                <h1>Bienvenue sur l'outil "Communauté startup"</h1>
            </div>
        </div>
        <div class="row paragraphe">
            <div class="col-lg-10 col-lg-offset-1 contourText">
                <p class="text">
                    Grâce au formulaire proposé par le site de la French Tech Alsace, les startups de la communauté peuvent
                    s’enregistrer en renseignant leurs informations qui sont gérées dans leur espace
                    <br>
                    “<a href="{{ path('compte') }}">Mon Compte</a>”
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
