{% extends 'base.html.twig' %}

{% block body %}

    <div class="imgTete">
        <img src="{{ asset ('uploads/img/FTA.png') }}">
    </div>

    <div class="container section1">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 titre1">
                <h1>Bienvenue sur l'outil "Communauté startup"</h1>
            </div>
        </div>
        <div class="row paragraphe">
            <div class="col-lg-10 col-lg-offset-1">
                <p class="text">
                    Grâce au formulaire proposé par le site de la French Tech Alsace, les startups de la communauté peuvent
                    s’enregistrer en renseignant leurs informations qui sont gérées dans leur espace
                    <br>
                    {% if is_granted('ROLE_ADMIN') %}
                        “<a href="{{ path('gestion_admin') }}">Mon Compte</a>”
                    {% elseif is_granted('ROLE_USER')%}
                        “<a href="{{ path('compte') }}">Mon Compte</a>”
                    {% endif %}

                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
