{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="titre">Star Ship Racing</h2>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="container ">
                <div class="row ">
                    <div class="col-6 offset-3 test">
                        <div class="col-4 offset-3">
                            <a class="btn offset-1 " href="#" role="button">Gestion des Startups</a>
                            <a class="btn offset-2" href="#" role="button">Validation des inscriptions</a>
                            <a class="btn offset-2" href="#" role="button">Extraction de la base de donnée des Startups</a>
                            <br>
                            <a class="btn offset-3" href="{{ path('logout') }}" role="button">Deconnexion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

{% endblock %}