{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h2 class="titre">Admin Login</h2>
        </div>
    </div>
    <div class="container-fluid home">
        <div class="row">
            <div class="col-4 offset-4">
                <div class="wrapper">
                    <form class="form-signin" action="{{ path('login') }}" method="POST">
                        <input type="text" class="form-control" name="username" placeholder="Pseudo" required=""/>
                        <input type="password" class="form-control" name="password" placeholder="********" required=""/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
                        {% if errors is defined %}
                            {% for error in errors %}
                                <div class="row">
                                    <div class="alert alert-danger alerte_erreur">{{ error }}</div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}