@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: 'Helvetica';
  src: url('/../fonts/Helvetica/HelveticaLTStd-Light.otf');
}

$fontFamily : Helvetica, Arial;/*variable global d'écriture du site*/
$Rouge : rgb(236,55,55);
$GrisClair: rgb(122,151,170);
$VertClair: rgb(181,221,214);
$Rose: rgb(241, 78, 182);


/*style de la page d'accueil*/
.imgTete{
  margin-bottom: 20px;
}
.section1{
  border: 1px solid black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background-color: $VertClair;
  border-radius: 20px;
  font-family: $fontFamily;
}
.contourText{
  border: 1px solid black;
  border-radius: 20px;
}
.titre1{
  text-align: center;
  background-color: $Rose;
  color: white;
  font-family: $fontFamily;
  border: 1px solid black;
  border-radius: 20px;
}

.contourText{
  background-color: $GrisClair;

}
.paragraphe{
  margin-top: 20px;
}
.text{
  font-family: $fontFamily;
  font-size: 1.5em;
  padding: 20px;
}
/*style de la page d'accueil*/


/*style de la page presentation*/
.test{
  margin-top: 20px;
  border: 1px solid black;
}
.select{
  margin-bottom: 20px;
}
.startUP{
  border: 10px outset darkgrey;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: rgba(122,151,170,0.4);
  font-family: $fontFamily;
}
.titreNomStartUp{
  font-size: 4em;
  border: 1px solid black;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: $Rose;
  color: white;
  font-family: $fontFamily;

}
.nomStartUp{
  font-size: 2em;
  font-family: $fontFamily;

}
.info{

}
.modalUnique{
  text-align: center;


}
.info{
  margin-top: 10px;
}
h2{
  text-align: center;
}
.logo{
  height: 140px;
  width: 140px;
}
/*style de la page presentation*/

/*style de la page evenement*/


.redbox {
  display: block;
  background-color: red;
  height: 97px;
}

.img-event {
  padding: 0;
}

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.date {
  font-size: 2em;
  color: white;
  font-weight: bold;
  text-align: center;
}

.hour {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  text-align: center;
}

.event-description {
  background-color: #eeeeee;
  padding: 15px;

}

.bluebox {
  display: block;
  background-color: lightskyblue;
  height: 97px;
}

.darkbluebox {
  display: block;
  background-color: cornflowerblue;
  height: 97px;
}

.participant_startup_box {
  display: block;
  background-color: #eeeeee;
  margin-bottom: 10px;
  margin-top: 10px;
}


/*style de la page evenement*/



