form{
  display: inline-block;
}
.startUpValidation{
  padding: 1vw;
  margin-bottom: 1vw;
  border: solid 1px rgba(190,190,190, .5);
  box-shadow: 10px 10px 16px 1px lightgray;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #FFFFFF;
}
.blockBouton{
  margin-top: 1.5vw;
}
