
{% extends 'base.html.twig' %}

    {% block body %}
    <div class="container center">
        <h1>Changer mon mot de Passe</h1>
        <div class=" login col-lg-4 col-lg-offset-4">
            <div class="col-lg-12 ">
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <button href="{{ 'change_password.submit'|trans }}"class="btn btn-success" type="submit">Mertre à jour</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <style>
        .login{
            border: 1px solid black;
            padding-bottom: 10px;
            padding-top: 10px;
            border-radius: 10px;
        }
        .center{
            text-align: center;
        }
        .btn{
            margin-top: 10px;
        }
    </style>
        {% endblock %}



