.eventPast h1{
    text-align: center;
}
.eventArchive {
    padding: 10px;
    margin: 10px;
    border: solid 1px rgba(190,190,190, .5);
    box-shadow: 10px 10px 16px 1px lightgray;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #FFFFFF;
}

.eventArchive .titre{
    border-bottom: solid grey 1px;
    text-align: center;
    padding-bottom: 1vw;
    margin-bottom: 1vw;
}

.eventArchive .description{
    border-left: solid 1px grey;
}

.description input{
    margin-top: 1vw;
}


.emptyEvent .dropdown {
    position: relative;
    display: inline-block;
}

.emptyEvent .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    text-align: center;
    z-index: 1;
}

.emptyEvent .dropdown:hover .dropdown-content {
    display: block;
}

.emptyEvent .evenementInconnu{
    text-align: center;
    font-size: 4vh;
    margin-top: 15vw;
}

