{% trans_default_domain 'FOSUserBundle' %}

{% extends 'base.html.twig' %}


 {% block fos_user_content %}

     <div class="container">
         <div class=" login col-lg-4 col-lg-offset-4">
             <div class="col-lg-12 ">
                 <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                     <div>
                         <label for="username">{{ 'resetting.request.username'|trans }}</label>
                         <input type="text" id="username" name="username" required="required" />
                     </div>
                     <div>
                         <input class="btn btn-success" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                     </div>
                 </form>
             </div>
         </div>
     </div>


     <style>
         .container{
             text-align: center;
         }
         .btn{
             margin-top: 10px;
         }
     </style>
 {% endblock fos_user_content %}