<p>
    Bonjour,<br>
    votre société n’ayant plus d’existence juridique,<br>
    ou ne remplissant plus les conditions requises pour faire partie de la communauté des startups de la French Tech Alsace,<br>
    nous vous informons que votre société ne figure plus dans les startups inscrites comme faisant partie de la communauté.<br>
    Vous pouvez nous adresser un email à : contact@lafrenchtech-alsace.eu<br>
    pour toute demande ou complément d’information que vous souhaiteriez porter à notre connaissance.
</p>