<p>
    Bonjour,<br>
    votre inscription a bien été validée et vous faites partie de la communauté des startups de La French Tech Alsace.<br>
    Vous avez à tout moment un droit de rectification et de suppression de vos données.
</p>